@import url('http://fonts.googleapis.com/css?family=Ubuntu:400');
body{
    margin:0 auto;
    background:black;
    color:#ccc;
}
.heading{
    margin-top:10px;
    font-family:Ubuntu;
}
.heading span{
    font-size:20px;
}
.heading a{
    float:right;
    margin-right:20px;
}
.login-form{
    float:none;
    margin:0 auto;
}
li.error{
    list-style-type:none;
}
.user-area{
    margin-top:5%;
}
select{
    border-radius:30px!important;
}
input{
    border-radius:30px!important;
}
.btn{
    border-radius:30px!important;
}
